.containerFolder {
    width: 50%;
    height: 70vh;
    background-color: rgba(3, 3, 3, 0.87);
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.folderImgInside {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.containerLineSup {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
    display: flex;
    justify-content: space-between;
}

.folderNameInside {
    color: #fff;
    margin-left: 10px;
    margin-top: 5px;
}

.buttonFolder{
    width: 25px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
    line-height: 26px;
}

.link {
    text-decoration: none;
    width: 25px;
    line-height: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
}

.link:hover {
    color: #000;
    background-color: rgba(248, 0, 0, 0.768);
    transition: all 0.3s ease-in-out;
}

.containerProjects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.containerOne,
.containerTwo,
.containerThree {
    width: 140px;
    height: 140px;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.nomadeImg {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.containerOne:hover,
.containerTwo:hover,
.containerThree:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.targetA {
    text-decoration: none;
}

@media screen and (max-width: 938px) {
    .containerFolder {
        width: 90%;
        /* height: 100%; */
    }
}