.containerFolder {
    margin-top: 1rem;
    width: 50%;
    height: 70vh;
    background-color: rgba(3, 3, 3, 0.87);
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.folderImgInside {
    width:25px;
    height: 25px;
    margin-left: 5px;
}
.containerLineSup {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
    display: flex;
    justify-content: space-between;
}

.folderNameInside {
    color: #fff;
    margin-left: 10px;
    margin-top: 5px;
}

.buttonFolder{
    width: 25px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
    line-height: 26px;
}

.link {
    text-decoration: none;
    width: 25px;
    line-height: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: none;
  }
  
  .link:hover {
    color: #000;
    background-color: rgba(248, 0, 0, 0.768);
    transition: all 0.3s ease-in-out;
  }

.containerText {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgb(14, 193, 221);
    display: inline-block;
    white-space: nowrap;
    border-right: 3px solid;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 50px;
    font-size: 3rem;
    width: auto;
    overflow: hidden;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
}

.subtitle {
    color: rgb(14, 193, 221);
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    line-height: 0px;
    font-size: 1.3rem;
}

.avatarContainer {
    position: absolute;
}

.containerText p {
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.1rem;
    line-height: 20px;
}

@keyframes typing {
    from { width: 0}
    to { width: 100%}
}

@keyframes blink {
    50% { border-color: transparent }
}

.avatarImg {
    width: 120px;
    height: 120px;
}

.containerTitleImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}


@media screen and (max-width: 938px) {
    .containerFolder {
        width: 90%;
        height: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 442px) {
    .title {
        font-size: 1.4rem;
        margin-top: 35px;
    }

    .avatarImg {
        width: 100px;
        height: 100px;
    }
}