@import-normalize;
@import './styles/theme.css';

html {
  margin: 0px;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle at 20% 20%, #1d2733 0%, #0d1117 60%) fixed;
  height: 100vh;
  overflow: hidden;
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 390px) {
  body { background-size: auto; }
}